/* normalize css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.wrapper {
  background-color: #aaa7a7;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .wrapper label {
    padding: 1rem;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30% 30%; }

::selection {
  background-color: #8000ff;
  color: #fff; }

@keyframes moveInLeft {
  0% {
    transform: translateY(0.3rem); }
  25% {
    transform: translateY(-0.3rem); }
  50% {
    transform: translateY(0.3rem); }
  75% {
    transform: translateY(-0.3rem); }
  100% {
    transform: translateY(0.3rem); } }

.navbar {
  position: fixed;
  transition: all 0.25s ease-in-out;
  background: #fff; }
  .navbar__menu {
    list-style: none;
    max-height: 50rem;
    min-width: max-content;
    width: max-content;
    overflow-y: auto; }
    .navbar__menu li {
      padding: 0 2rem;
      text-align: center; }
      .navbar__menu li a {
        font-family: "Poppins", sans-serif;
        color: #011a41;
        font-weight: 700;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0.5rem 2rem;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.2s ease-out; }
      .navbar__menu li:hover {
        background: #8000ff; }
        .navbar__menu li:hover a {
          color: #fff; }
  .navbar__toggle {
    display: none;
    visibility: hidden;
    -webkit-appearance: none; }
  .navbar label {
    transition: all 0.25s ease-in; }
    .navbar label i {
      animation: moveInLeft 3s infinite ease-in-out;
      font-size: 2rem;
      font-weight: 700;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      width: 1.5rem;
      padding: 0.2rem; }
      .navbar label i::before {
        transition: transform 0.5s ease-in; }
    .navbar label:hover i {
      color: #8000ff;
      font-size: 2.3rem; }
  .navbar#navbar-top {
    top: 0;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translate(-50%, -100%) rotate(0);
    padding-bottom: 2.5rem; }
    .navbar#navbar-top label {
      top: auto;
      bottom: -30px;
      left: 50%;
      right: auto;
      transform: translate(-50%, 0) rotate(0); }
  .navbar#navbar-bottom {
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%, 100%) rotate(0);
    padding-top: 2.5rem; }
    .navbar#navbar-bottom label {
      top: -30px;
      bottom: auto;
      left: 50%;
      right: auto;
      transform: translate(-50%, 0) rotate(180deg); }
  .navbar#navbar-right {
    padding-left: 2.5rem;
    top: 50%;
    bottom: auto;
    left: auto;
    right: 0;
    transform: translate(100%, -50%) rotate(0); }
    .navbar#navbar-right label {
      top: 50%;
      bottom: auto;
      left: -30px;
      right: auto;
      transform: translate(0%, -50%) rotate(90deg); }
  .navbar#navbar-left {
    padding-right: 2.5rem;
    top: 50%;
    bottom: auto;
    left: 0;
    right: auto;
    transform: translate(-100%, -50%) rotate(0); }
    .navbar#navbar-left label {
      top: 50%;
      bottom: auto;
      left: auto;
      right: -30px;
      transform: translate(0%, -50%) rotate(-90deg); }

#toggle-top:checked ~ #navbar-top,
#toggle-bottom:checked ~ #navbar-bottom {
  transform: translate(-50%, 0%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

#toggle-left:checked ~ #navbar-left,
#toggle-right:checked ~ #navbar-right {
  transform: translate(0%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

#toggle-top:checked ~ #navbar-top label i::before,
#toggle-bottom:checked ~ #navbar-bottom label i::before,
#toggle-left:checked ~ #navbar-left label i::before,
#toggle-right:checked ~ #navbar-right label i::before {
  transform: rotate(180deg); }

#toggle-top:checked ~ #navbar-top label,
#toggle-bottom:checked ~ #navbar-bottom label,
#toggle-left:checked ~ #navbar-left label,
#toggle-right:checked ~ #navbar-right label {
  padding: 0;
  background: transparent;
  border-radius: 0; }

#toggle-top:checked ~ #navbar-top label {
  bottom: 0;
  padding: 0.25rem 0; }

#toggle-bottom:checked ~ #navbar-bottom label {
  top: 0;
  padding: 0.25rem 0; }

#toggle-left:checked ~ #navbar-left label {
  padding: 0 0.25rem;
  right: 0; }

#toggle-right:checked ~ #navbar-right label {
  left: 0; }

#toggle-bottom:checked ~ #navbar-bottom label i::before,
#toggle-left:checked ~ #navbar-left label i::before,
#toggle-right:checked ~ #navbar-right label i::before {
  transform: rotate(180deg); }
